.homeimage-container {
  background-image: url("/src/assets/HomeImage.png");
  background-position: top;
  background-size: cover;
  width: calc(100vw - 17px);
  height: 1000px;
  margin-top: 60px;
}
