.card-container {
  display: flex;
  gap: 20px;
}

.portrait-container {
  border: 1px solid #0202023d;
  width: 400px;
  height: 500px;
}

.portrait {
  width: 100%;
  height: 100%;
  filter: contrast(0.6);
  object-fit: cover;
  object-position: top;
  transition: all 200ms ease-out;
}

.portrait:hover {
  filter: contrast(0.8);
  transform: scale(1.01);
  transition: all 200ms ease-out;
}

.card-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Adobe Garamond Pro Regular";
  color: #222;
  font-weight: 800;
}

.card-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Adobe Garamond Pro Regular";
  color: #222;
  font-weight: 400;
  width: 60ch;
}

.card-description {
  padding: 15px 0;
}

.card-button {
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 0%;
  border: 1px solid #878282;
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  font-family: "Adobe Garamond Pro Regular";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 150ms ease-in-out;
}

.card-button:hover {
  background-color: #878282;
  color: #ffffff;
  transition: all 150ms ease-in-out;
}
