@media screen and (max-width: 1060px) {
  /* Home responsive */

  #root {
    position: relative;
  }

  .hamburguer-menu {
    display: flex;
  }
  .website-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }
  .website-nav {
    display: none;
  }

  .logo-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    width: 100%;
  }

  .website-logo {
    color: #616161;
  }

  .homeimage-container {
    height: calc(100vh - 80px);
    margin-top: 20px;
  }

  .website-footer {
    padding: 20px 0;
  }

  .website-nav-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 50;
  }

  .website-nav-active ul {
    flex-direction: column;
  }

  /* About me responsive */

  .container {
    width: 100%;
    padding: 20px 15px;
  }

  .about-me-text-container {
    width: 100%;
  }

  .about-me-text-container p {
    width: 100%;
  }

  .about-me-picture {
    width: 100%;
  }

  /* Projects responsive */

  .projects-card-container {
    width: 100%;
    gap: 50px;
  }

  .card-container {
    width: 100%;
    flex-direction: column;
  }

  .portrait-container {
    height: calc(100vh - 203px - 20px) !important;
    width: 100%;
  }

  .card-description,
  .text-container,
  .card-body-container {
    width: 100%;
  }

  .card-subtitle {
    width: 100%;
  }

  .text-container p {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  /* Project details responsive */

  .images-container {
    width: 100%;
    justify-content: center;
  }

  .image-container-normal,
  .video-container-normal {
    height: 400px;
  }

  .image-container-large,
  .video-container-large {
    height: 200px;
  }

  .image-container-reel {
    width: 150px;
    height: 150px;
  }

  .go-back {
    top: 15px;
  }

  /* Contact responsive */

  .contact-form {
    width: 100%;
    flex-direction: column;
  }

  .contact-body {
    width: 100%;
  }

  .contact-body p {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }

  .name-group {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .name-group {
    flex-direction: column;
  }
}
