.contact-form {
  display: flex;
  gap: 40px;
}

.contact-title {
  font-size: 25px !important ;
  padding: 0px 0px 5px 0px !important;
  color: #000000b4;
}

.contact-social {
  padding-top: 5px;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
}

.contact-body .text {
  text-align: center;
}
