.about-me-picture {
  width: 70ch;
  height: 600px;
  background-image: url(/src/assets/AboutMePictures/1.jpg);
  background-position: center;
  background-size: cover;
}

.about-me-picture:nth-of-type(3) {
  height: 450px;
  margin-top: 20px;
  background-image: url(/src/assets/AboutMePictures/2.jpg);
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  margin-top: 20px;
}
