.about-me-container {
  width: 80%;
  align-items: center !important;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.about-me-picture {
  width: 450px;
  height: 620px;
  background-image: url(/src/assets/AboutMePictures/1.jpg);
  background-position: center;
  background-size: cover;
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
