.website-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 120px;
}

.website-logo {
  font-family: "Adobe Garamond Pro Regular";
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 20px;
  color: #b3301e;
}

.website-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 35px;

  list-style: none;
}

.item-link {
  font-family: "Garamond Premier Pro Display";
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #00000069;
}
.item-link {
  transition: all 200ms ease-in;
}

.item-link:hover {
  color: #000000ad;
  transition: all 200ms ease-in;
}

.active {
  color: #000000ad;
}
