@import url(./fonts/AdobeGaramondPro/AdobeGaramondPro.css);
@import url(./fonts/GaramondPremierProDisplay/GaramondPremiereProDisplay.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Adobe Garamond Pro Regular";
  color: #222;
  font-weight: 400;
  padding-top: 20px;
}

.text {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Adobe Garamond Pro Regular";
  color: #222;
  width: 70ch;
}
